<div class="topnav">
    <a routerLink="/" routerLinkActive="router-link-active">Menu</a>
    <a routerLink="/data" routerLinkActive="router-link-active"  *ngIf="userConnected">Data Grid</a>
    <div class="login-container">
      <form class="input">
        <input type="text" autocomplete="username" placeholder="Identifiant" name="username"  [(ngModel)]='email'>
        <input type="password" autocomplete="current-password" placeholder="Mot de passe" name="psw" [(ngModel)]='mdp'>
        <button type="submit" (click)="SignUpFunc()">Sign In</button>
        <button type="submit" (click)="SignUpFunc()">Sign Up</button>
      </form>
    </div>
  </div>