.btnComponentWrapper {
display:flex;
flex-direction: row;
align-items: center;
}
.button-36 {
  background-image: linear-gradient(92.88deg, var(--text) 9.16%, var(--text) 43.89%, var(--text) 64.72%);
  border-radius: 1vw;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1vw;

  font-weight: 500;
  height: 2vw;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.sumAppear {

display:flex;
margin:1vw;
animation :fadeIn 2s;

}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.sumDisappear {

    display:none;
    margin:1vw;
    
    }