.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.totalButton {
  cursor: pointer;
  font-weight: 700;
  border-radius: 3px;
  min-height: 40px;
  border: solid 1px var(--border);
  width: 132px;
  background: var(--elem);
  color: var(--text);
  transition: box-shadow 0.3s ease, background 0.3s ease-in, transform 0.3s ease-in-out;
}

.totalButton:hover {
  background: var(--text);
  color: var(--button);
  transform: rotate(-5deg);
  box-shadow: 0px 0px 5px white;
}

.sumDisappear {
  opacity: 0;
  font-size: 30px;
  transition: all 0.3s ease;
}


.sumAppear {
  opacity: 1;
  font-size: 30px;
  color: var(--text);
  transition: all 0.5s ease;

}