<app-title></app-title>
<app-total-button [sum]="data"></app-total-button>
<div class="baseWrapper">

    <div class="box-border">
        <div class="box columnTitle">Position</div>
    </div>

    <div class="box-border">
        <div class="box columnTitle">Name </div>
    </div>

    <div class="box-border">
        <div class="box columnTitle">Price</div>
    </div>

    <div class="box-border">
        <div class="box columnTitle">DailyChange</div>
    </div>

    <div class="box-border">
        <div class="box columnTitle">MarketCap</div>
    </div>

    <div class="box-border">
        <div class="box columnTitle">24hVolume</div>
    </div>

    <div class="box-border">
        <div class="box columnTitle">CirculatingSupply</div>
    </div>

    <div class="box-border">
        <div class="box columnTitle">Invested</div>
    </div>

    <div class="box-border">
        <div class="box columnTitle">Theoric Pnl</div>
    </div>

</div>

<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="loadingElem" id="loading">Loading</span>
    </div>
</div>

<body>
    <div *ngFor="let data of cryptoObj;let i = index">
        <div class="wrapper">
            <!-- <div [ngClass]="i % 2 == 0 ? 'box2'  :  'box' ">{{ data.Position }}</div> -->
            <div class="box ">{{ data.Position }}</div>
            <a class="box2" href="https://coinmarketcap.com/currencies/{{data.Name}}/" target="_blank">{{ data.Name
                }}</a>
            <div class="box ">{{ data.Price }}</div>
            <div class="box ">{{ data.DailyChange }}</div>
            <div class="box ">{{ data.MarketCap }}</div>
            <div class="box ">{{ data.Volume }}</div>
            <div class="box ">{{ data.CircuSupply }}</div>
            <div class="box ">{{ data.InvestInCrypto }} for {{ data.InvestInDollars }} $</div>
            <div class="box2 "> {{ data.TheoricPnl }} $</div>
        </div>
    </div>
</body>