.svg {
    fill: white;
}

.footer {
    z-index: 10;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    clear: both;
    min-height: 60px;
    bottom: 0;
    position: fixed;
    margin-top: 70px;
    width: 100%;
    background-color: var(--boxTitleColor);
}

.footerLinkWrapper {
    display: flex;
    color: #fffafa7d;
    grid-gap: 10px;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.svgWrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    border : solid 1px white;
    box-shadow: 1px 1px 3px black;
    border-radius:50%;
    transition: transform 0.2s ease-in-out;
}

.svgWrapper:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 450px) {
.footerLinkWrapper{
    justify-content: center;
}
}