/* part 2  reload Button  and media queries */ 
@keyframes rotate360 {
    to {
        transform: rotate(-360deg);
    }
}

.reloadButtonActive .reloadSvg {
    animation: 1s rotate360 infinite linear;
}

.reloadButtonActive:active .reloadSvg {
    transform: rotate(-180deg);
}

.reloadButton:hover .reloadSvg {
    fill: var(--button);
    transform: rotate(-180deg) scale(1.1);
}

.reloadColor {
    fill: var(--text);
}

.reloadButton:hover .reloadColor {
    fill: var(--button)
}


@media (max-width:1330px) {

    .gridTopButtons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .selectWrapper {
        justify-content: center;
        display: grid;
        gap: 10px;
        align-items: center;

        .selectInputWrapper {
            display: grid;
            justify-items: center;
            gap: 10px;
            align-items: center;
        }
    }

    .button {
        margin-left: 0;
    }

    .gridWrapper {
        grid-gap: 1%;
        font-size: 11px;
        display: grid;
        grid-template-columns: 28% 24% 31% 5%;
    }

    .gridTitleWrapper {
        grid-gap: 1%;
        display: grid;
        justify-content: center;
        font-size: 15px;
        grid-template-columns: 28% 24% 31% 5%;
    }

    .box {
        height: 22px;
    }

    .hideSmallScreen {
        display: none;
    }

    select {
        margin-top: 4%;
    }
}