.dataGridWrapper {

    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

//Select 
.selectWrapper {

    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;

    .selectInputWrapper {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    button {
        height: 2rem;
        font-size: 18px;
        min-width: 250px;
        border-radius: 3px;
        background: var(--button);
        color: var(--text);
        border: none;
        cursor: pointer;
        transition: color 0.2s ease-out, background 0.2s ease;
    }

    button:hover {

        color: var(--text2);
        background: var(--footer);
    }

    input {
        height: 2rem;
        text-align: center;
        border-radius: 3px;
        border: solid 0.05vw var(--dailyChange);
        transition: border 0.2s ease-out;
    }

    input:focus {
        transition: border 0.2s ease-out;
        outline: none !important;
        border: solid 0.05vw var(--boxTitleColor);
    }

    select {
        outline: none;
        border: solid 1px var(--boxTitleColor);
        width: 175px;
        border-radius: 5px;
        height: 2rem;
    }
}

//LOADER
.loadingElem {
    content: "Loading";
    display: flex;
    font-size: 120%;
    color: var(--title);
    padding-left: 43.5%;
    padding-top: 6%;
}

.loadingElem::after {
    content: "";
    animation: animate infinite 3s;
}

@keyframes animate {

    25% {
        content: ".";
    }

    75% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

//GRID
.gridWrapper {
    font-size: 17px;
    z-index: 2;
    display: grid;
    width: 100%;
    justify-content: center;
    padding-top: 0.5%;
    grid-template-columns: 7% 10% 8% 9% 12% 11% 15% 10% 8% 3%;
    grid-column-gap: 0.2%;
}

.gridTitleWrapper {
    font-size: 18px;
    margin-top: 40px;

    width: 100%;
    display: grid;
    justify-content: center;
    margin-bottom: 0.5vw;
    grid-template-columns: 7% 10% 8% 9% 12% 11% 15% 10% 8% 3%;
    grid-gap: 0.2%;
}

.box-border {
    position: relative;
    font-weight: bolder;
    border-radius: 3px;
    background: var(--border);
    padding: 1px;
}

.box {
    display: flex; // center text 
    height: 30px;
    background-color: var(--boxTitleColor);
    color: white;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.boxGrid {
    display: flex;
    height: 30px;
    background-color: var(--boxGridColor); // #4c4c4c
    color: var(--text);
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.box2 {
    display: flex;
    color: var(--text);
    height: 30px;
    background-color: var(--button);
    font-weight: bold;
    border-radius: 1px;
    align-items: center;
    justify-content: center;
}

.box3 {
    display: flex;
    height: 30px;
    transition: background 0.5s;
    background-color: var(--dailyChange);
    color: var(--priceDown);
    border-radius: 3px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.box4 {
    display: flex;
    height: 30px;
    transition: background 0.5s;
    background-color: var(--dailyChange);
    color: var(--priceUp);
    border-radius: 3px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

a {
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    color: var(--button)
}

a:hover {
    background: var(--text);
    color: var(--button);
    cursor: pointer;
}

.svg {
    fill: #ba190a;
}

/* buttons */
.gridTopButtons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 25px;
}

.reloadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 3px;
    height: 40px;
    border: solid 1px var(--border);
    width: 132px;
    background: var(--elem);
    color: var(--text);
    transition: all 0.3s ease, box-shadow 0.1s ease;
}

.reloadButtonActive {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 3px;
    height: 40px;
    border: solid 1px var(--border);
    width: 132px;
    background: var(--elem);
    color: var(--text);
    transition: all 0.3s ease, box-shadow 0.1s ease;
}

.reloadButton:hover {
    background: var(--text);
    color: var(--button);
    cursor: pointer;
    transform: scale(1.05);
}

.reloadButton .reloadSvg {
    transition: all 0.5s ease;
}
