/* You can add global styles to this file, and also import other style files */

:root {
--elem : rgb(77 89 149 / 6%);
--linear : linear-gradient(to right, var(--price1) 0%, var(--text) 100%);
--elemBackground : white;
--text : #3082d3;
--header : white;
--shadow: #7b7979;
--text2 : #fbfbfb;
--background : white;
--title : #383737;
--buttonHover2 : #3699FF;
--button: #E1F0FF;
--price1 : #a9da2e;
--price2:#ff771d;
--border : #cfcfcf;
transition: .4s;
}

body {
    transition: background 0.5s;
    font-family: Poppins, Helvetica, "sans-serif";
    margin: 0;
    width:100%;
    background-color:var(--elem);
    font-size: 0.7vw;

}